<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/default}">
<head>
  <title>New</title>
</head>
<body>
  <div layout:fragment="content">
    <h1>Add a new venue</h1>
    
    <form action="#" th:action="@{/venues}" th:object="${venue}" method="post">

      <div class="form-group" th:classappend="${#fields.hasErrors('name')}? has-error">
          <label for="name">Venue name</label>
        <input class="form-control" type="text" name="name" id="name" autofocus="autofocus" />
        <p class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">errors</p>
      </div>

      <div class="form-group" th:classappend="${#fields.hasErrors('capacity')}? has-error">
        <label for="capacity">Capacity</label>
        <input class="form-control" type="capacity" name="capacity" id="capacity"  autofocus="autofocus" />
        <p class="text-danger" th:if="${#fields.hasErrors('capacity')}" th:errors="*{capacity}">errors</p>
      </div>

      <div class="form-group" th:classappend="${#fields.hasErrors('roadName')}? has-error">
        <label for="date">Street name</label>
        <input class="form-control" type="roadName" name="roadName" id="roadName" autofocus="autofocus" />
        <p class="text-danger" th:if="${#fields.hasErrors('roadName')}" th:errors="*{roadName}">errors</p>
      </div>

      <div class="form-group" th:classappend="${#fields.hasErrors('postCode')}? has-error">
        <label for="postCode">Postcode</label>
        <input class="form-control" type="postCode" name="postCode" id="postCode" autofocus="autofocus" />
        <p class="text-danger" th:if="${#fields.hasErrors('postCode')}" th:errors="*{postCode}">errors</p>
      </div>

      <button class="btn btn-primary" type="submit"><i class="fa-solid fa-bookmark" aria-hidden="true"></i> Save</button>
      <a class="btn btn-warning" role="button" href="/venues"><i class="fa-solid fa-plus" aria-hidden="true"></i> Cancel</a>
    </form>
  </div>
</body>
</html>